__pycache__/
*.pyc
.venv/
reports/
.DS_Store


# Build artifacts
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor settings
.vscode/
.idea/
*.swp

# Logs
*.log

# OS-specific
Thumbs.db
